<p>Cantidad:{{ myShoppingCart.length }}</p>
<p>Total:€{{ total }}</p>
<button class="btn-text" (click)="createNewProduct()">Create</button>
<!--<button class="btn-text" (click)="onShowDetail('282443434353')">
	not found
</button>-->
<div class="products">
	<app-product
		[product]="product"
		class="list-products"
		*ngFor="let product of products"
		(addedProduct)="onAddToShoppingCart($event)"
		(showProduct)="onShowDetail($event)"
	></app-product>
</div>
<div class="box-btn-loadmore">
	<button (click)="loadMore()" class="btn-loadmore">Load More</button>
</div>

<div class="box-product-detail" [class.active]="showProductDetail">
	<!--{{ statusDetail }}-->
	<div *ngIf="productChosen" class="product-detail">
		<div class="box-btn-close">
			<button (click)="toggleProductDetail()" class="btn-close-detail">
				Close
			</button>
		</div>
		<img [src]="productChosen.image" width="100%" alt="" class="image" />
		<h2 class="title-detail">{{ productChosen.title }}</h2>
		<p class="price-detail">
			Price:{{ productChosen.price | currency : "EUR" }}
		</p>
		<p class="text-description">{{ productChosen.description }}</p>
		<div class="box-btn-detail">
			<button (click)="updateProduct()" class="btn-detail">Editar</button>
			<button (click)="deleteProduct()" class="btn-detail">Delete</button>
		</div>
	</div>
</div>
