<p>Cantidad:{{ myShoppingCart.length }}</p>
<p>Total:€{{ total }}</p>
<button class="btn-text" (click)="onShowDetail('28244')">not found</button>
<button class="btn-text" (click)="createNewProduct()">Create</button>
<div class="products">
	<app-product
		[product]="product"
		class="list-products"
		*ngFor="let product of products"
		(addedProduct)="onAddToShoppingCart($event)"
		(showProduct)="onShowDetail($event)"
	></app-product>
	<button (click)="loadMore()">Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
	{{ statusDetail }}
	<div *ngIf="productChosen">
		<button (click)="toggleProductDetail()">Colse</button>
		<img [src]="productChosen.image" width="100%" alt="" class="image" />
		<h2>{{ productChosen.title }}</h2>
		<p>{{ productChosen.description }}</p>
		<button (click)="updateProduct()">Editar</button>
		<button (click)="deleteProduct()">Delete</button>
	</div>
</div>
