.mobile {
	display: block;
	box-shadow: 0px 2px 5px rgb(black, 0.2);
	.container-nav-mobile {
		padding: 0 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btn-menu {
			border: 0;
			background: transparent;
		}
		.imgMenu {
			width: 20px;
		}
		.img-logo {
			width: 50px;
			height: 50px;
		}
		.img-car {
			text-decoration: none;
			cursor: pointer;
		}
		.imgShoppingCar {
			width: 20px;
			margin-right: 20px;
		}
		.shopping-cart-container {
			position: relative;
			display: block;
			.counter {
				position: absolute;
				right: 6px;
				top: -32px;
				color: #fefefe;
				font-size: 11px;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				text-align: center;
				line-height: 16px;
				background-color: #458f4b;
			}
		}
	}
	.side--menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		transform: translateX(-100%);
		transition: all ease-out 0.5s;
		&.active {
			transform: translateX(0);
		}
	}

	.box-btnCloseMenu {
		display: flex;
		justify-content: flex-end;
		padding: 15px;
	}
	.btnCloseMenu {
		border: solid 2px rgba(0, 0, 255, 0.712);
		background-color: rgba(0, 0, 255, 0.712);
		width: 60px;
		font-size: 0.7rem;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		padding: 5px;
		font-weight: 700;
	}
	.list-ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.8rem;
		margin: 0;
		padding: 15px;
		gap: 20px;
	}
	.list-li {
		list-style: none;
	}

	.link {
		text-decoration: none;
		font-family: "Roboto Slab", serif;
		font-weight: bold;
		text-transform: uppercase;
		color: black;
		&:hover {
			color: rgba(0, 0, 255, 0.712);
		}
	}
}

//-----------------------------------------------------------------------------------------------

.hide-mobile {
	display: none;
	box-shadow: 0px 2px 5px rgb(black, 0.2);

	.container-nav {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		align-items: center;
		font-size: 1.2rem;
	}

	.title {
		margin: 0;
		padding: 10px 0;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	}
	.side--menu {
		display: flex;
		align-items: center;
		.list-ul {
			display: flex;
			list-style: none;
			font-size: 1rem;
			gap: 20px;
			.link {
				text-decoration: none;
				font-family: "Roboto Slab", serif;
				font-weight: bold;
				text-transform: uppercase;
				//color: rgba(0, 0, 255, 0.712);
				color: black;
				&:hover {
					color: rgba(0, 0, 255, 0.712);
					transition-duration: 0.5s;
				}
			}
		}
	}
	.img-logo {
		width: 90px;
		height: 80px;
	}
	.img-car {
		text-decoration: none;
		cursor: pointer;
	}

	.imgShoppingCar {
		width: 25px;
		margin-right: 40px;
	}
}
.shopping-cart-container {
	position: relative;
	display: block;
	.counter {
		position: absolute;
		right: 25px;
		top: -40px;
		color: #fefefe;
		font-size: 12px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
		background-color: #458f4b;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.mobile {
		display: none;
	}
	.hide-mobile {
		display: block;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.mobile {
		display: none;
	}
	.hide-mobile {
		display: block;
	}
}
/*
	.list-ul {
		display: flex;
		margin: 0;
		padding: 15px;
		gap: 20px;
	}
	.list-li {
		list-style: none;
	}

	.link {
		text-decoration: none;
		font-family: "Roboto Slab", serif;
		font-weight: bold;
		text-transform: uppercase;
	}
*/
