<a [routerLink]="['/products', product.id]"
	><img class="img-products" [src]="product.image" alt="image"
/></a>
<h2 class="title-products">{{ product.title }}</h2>
<p class="text-price">Price: {{ product.price | currency : "EUR" }}</p>
<p class="text-price">IVA: {{ product.taxes ?? "" | currency : "EUR" }}</p>
<div class="box-details">
	<button class="btn-text" (click)="onShowDetail()">View Details</button>
	<button class="btn-car" (click)="onAddToCart()">
		<img class="img-car" [src]="imgShoppingCart" alt="image" />
	</button>
</div>
