.img-products {
	width: 150px;
	height: 150px;
	padding: 10px;
	border-radius: 10px;
}
.title-products {
	margin: 0;
	font-size: 0.8rem;
	font-family: "Roboto Serif", serif;
}
.text-price {
	margin: 0;
	font-size: 0.7rem;
	font-family: "Roboto Slab", serif;
}
.box-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}
.btn-text {
	border: none;
	color: blue;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 0.7rem;
	padding: 5px;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 255, 0.712);
		color: white;
		transition-duration: 0.5s;
	}
}
.btn-car {
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	&:hover {
		background-color: rgb(159, 182, 245);
		transition-duration: 1s;
	}
}
.img-car {
	width: 15px;
	padding-top: 5px;
	cursor: pointer;
}

@media screen and (min-width: 40em) {
	.title-products {
		font-size: 1rem;
	}
	.text-price {
		font-size: 0.8rem;
	}
	.box-details {
		padding-top: 15px;
	}

	.btn-text {
		font-size: 0.8rem;
	}
	.img-car {
		width: 20px;
		padding-top: 5px;
	}
}
