@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto+Slab&display=swap");

@import url(./styles.scss);

* {
	font-family: "Playfair Display", serif;
	font-family: "Roboto", sans-serif;
	font-family: "Roboto Serif", serif;
	font-family: "Roboto Slab", serif;
}
